extends index.pug

block parcelized-agc-not-found

   //- main

   main.error-page-wrapper

      //- .section-1
      //- .page-header
      h1= `404. Not Found.`
         p You are trying to access a resource that does not exist.

      .page-graphic
         img(src="/assets/images/noun-dark-contour.svg" alt="")

      //- .section-2
      //- h1= `There is no AGC with ID ${agcID} in our database. Contact the AGC portal administrator.`
      //- h1= `That URL is either invalid, or there is no AGC with ID ${agcID} in our database.`
      h1= `That URL is either invalid, or has expired. Ask the AGC portal admin to generate a new link from the API.`
         //- p Contact the site admin. Please confirm that that AGC has been uploaded.
      //- p= `You are attemptting access a resource that does not exist.`
      //- h1= `There is no AGC with ID ${agcID} in our database. You are attemtpting to access a resource that does not exist.`