.hero-wrapper

   //- h2.hero-topline Auto land parcelization for smallholder farmer cooperatives
   h2.hero-topline Automated land subdivision for smallholder farmer geo-cooperatives
   //- h2.hero-topline Automated land sub-division for smallholder farmers in agro geo-cooperatives

   .hero-content
      p A fast, precise, low-cost geospatial analysis tool for use by groups of smallholder farmers to divide up their shared land expanse into smaller, adjacent farm plots, each sized according to each farmer's desired hectarage. 

      p Instantly reports back accurate, high-resolution boundary coordinates & eliminates the need to physically scout each farmer's plot with expensive survey equipment.

      //- p Geospatial analysis to boost smallholder farmer precision agriculture.
      p.bold Available globally. Scales, no matter the hecterage.

      .hero-user-action-wrapper
         a.cta-btn.u__links(href="https://farmplots.web.app" role='button') Launch Demo
         br
         a.u__links(href="https://agcfarmlands.herokuapp.com/agcs-overview") 
            //- span See Examples →
            span See Examples  
            i.fi.fi-angle-right

      //- .customer-showcase
      //-    a(href="#") NIRSAL
      //-       .customer-logo.w-embed
      //-          //- img(src="./assets/images/cbn-logo.svg" alt="NIRSAL Showcase")
      //-    a(href="#") CBN
      //-       .customer-logo.w-embed
      //-          //- img(src="./assets/images/cbn-logo.svg" alt="CBN Showcase")