nav.navbar-wrapper.is-fixed-top(role='navigation' aria-label='main navigation')

   .navbar

      .navbar-brand-wrapper
         a.u__links.branding(href="/")
            img(src="/assets/icons/kagawa-japan-flag.svg" alt="Parcelized AGCs Logo")
            span agFarmPlots

      .navbar-menu-wrapper
         ul.nav-links#nav_links
            li(aria-hidden='true')
               a.u__links(href="https://farmplots.web.app") Parcelization Demo
                  //- span Parcelization Demo
                  //- i.fi.fi-angle-right
            li(aria-hidden='true')
               a.u__links(href="/api-guide") API Guide
            //- li(aria-hidden='true')
               //- a.u__links(href="#") Signup
               //- a.u__links(href="/signup") Signup
            li(aria-hidden='true')
               a.u__links(href="#") Login
               //- a.u__links(href="/login") Login

      .burger-wrapper
         input.toggler#menu_toggler(type='checkbox' aria-label='menu' aria-expanded='false')
         .burger-lines
            .burger-line1
            .burger-line2


   //- BURGER MENU CLICK HANDLER
   script(type="text/javascript").
      const burgerIcon = document.getElementById('menu_toggler')
      const mobileMenu = document.getElementById('nav_links')

      function toggleBurgerIcon(event) {
         if (event.target.checked) {
            console.log('fuck satan');
            burgerIcon.classList.toggle('active')
            mobileMenu.classList.toggle('is-active')
         }
      }

      burgerIcon.addEventListener('change', toggleBurgerIcon)
