code.language-javascript.

	{
		"type": "FeatureCollection",
		"properties": {
			"agc_id": "NIRSALAGCAD0001",
			"extended_name": "Nasarawa Maize Growers AGC",
			"location": "Gora, Nasarawa State",
			"agc_president": "farmer_id",
			"agc_details": {
				"category": [
					"Row Crops", "Plantation", "Poultry", "etc.."
				],
				"primary_crop": "maize",
				"other_details": 
					"flood_prone, road_access, etc.."
			},
			"farmers": [
				{
				"farmer_id": "NIRSALAGCAD0001-001",
				"first_name": "Mohammed",
				"last_name": "Sadiq",
				"allocation": 2.3
				},
				{
				"farmer_id": "NIRSALAGCAD0001-002",
				"first_name": "Emmanuel",
				"last_name": "James",
				"allocation": 2.7
				}
			]
		},
		"features": [
			{
				"type": "Feature",
				"geometry": {
				"type": "Polygon",
				"coordinates": 
					[
						[
							[7.47565314173, 10.62776136860],
							[7.47883088886, 10.62911340600],
							[7.48022530227, 10.62869721770],
							[7.48148929327, 10.62825697355],
							[7.48148929327, 10.62684100435],
							[7.48127471655, 10.62500916477],
							[7.48115234076, 10.62320202895],
							[7.48116441071, 10.62199067517],
							[7.479043453931, 10.6220631719],
							[7.47703313827, 10.62150000302],
							[7.4767635762, 10.624850332335],
							[7.47565314173, 10.62776136860]
						]
					]
				}
			}
		]
	}