code.language-javascript.

	{
		{
			"type": "FeatureCollection",
			"properties": {
				"agc_id": "AGCABJ002B",
				"extended_name": "Kubwa Sugarcane AGC",
				"location": "Kubwa, FCT Abuja",
				"farmers": [
					{
						"farmer_id": "AGCABJ002B-01",
						"first_name": "Taofeek",
						"last_name": "Usman",
						"farmer_photo": "", // Base64 buffer
						"farmer_photo_url": "https://...",
						"allocation": 3.9,
					},
					{
						"farmer_id": "AGCABJ002B-02",
						"first_name": "Samuel",
						"last_name": "Zogonda",
						"farmer_photo": "", // Base64 buffer
						"farmer_photo_url": "https://...",
						"allocation": 3
					},
					{
						"farmer_id": "AGCABJ002B-03",
						"first_name": "Ilyasu",
						"last_name": "Umar",
						"farmer_photo": "", // Base64 buffer
						"farmer_photo_url": "https://...",
						"allocation": 2.3
					}
				]
			},
			"features": [
				{
					"type": "Feature",
					"properties": {
						"shape": "Rectangle",
						"name": "Unnamed Geoman Layer",
						"category": "default"
					},
					"geometry": {
						"type": "Polygon",
						"coordinates": [
							[
								[-74.009534, 40.715192],
								[-74.007089, 40.715192],
								[-74.007089, 40.716753],
								[-74.009534, 40.716753],
								[-74.009534, 40.715192]
							]
						]
					},
					"id": "1dc64de0-3678-4c07-acfd-9388beeb0080"
				}
			]
		}

	}