code.language-javascript.

	{
		{
			"type": "FeatureCollection",
			"properties": {
				"agc_id": "AGCABJ002B",
				"extended_name": "The newest maize growers AGC",
				"location": "Kubwa, FCT Abuja",
				"farmers": [
					{
						"farmer_name": "Farmer one",
						"farmer_id": "AGCFCT000019000041",
						"allocation": 3.9
					},
					{
						"farmer_name": "Farmer Two",
						"farmer_id": "AGCFCT000019000042",
						"allocation": 3
					},
					{
						"farmer_name": "Farmer Three",
						"farmer_id": "AGCFCT000019000043",
						"allocation": 2.3
					}
				]
			},
			"features": [
				{
					"type": "Feature",
					"properties": {
						"shape": "Rectangle",
						"name": "Unnamed Layer",
						"category": "default"
					},
					"geometry": {
						"type": "Polygon",
						"coordinates": [
							[
								[-74.009534, 40.715192],
								[-74.007089, 40.715192],
								[-74.007089, 40.716753],
								[-74.009534, 40.716753],
								[-74.009534, 40.715192]
							]
						]
					},
					"id": "1dc64de0-3678-4c07-acfd-9388beeb0080"
				}
			]
		}

	}