code.language-javascript.

   // The API url
   const URL = "https://agcsfarmlands.herokuapp.com/api/v1/agcs";

   // SEE SAMPLE AGC DATA BELOW
   const agcJSONData = { ... } 

   //- // Perform the POST request
   // Set up the API call function
   async function sendAgcData() {
      try {
         await fetch(URL, {
            method: "POST",
            body: JSON.stringify(agcJSONData)
         });
      }
      catch(error) {
         console.log(error.message);
      };
   };

   // Execute the API call
   sendAgcData()
      .then(function(apiResponse) {
            // Do whatever with the API response
            console.log(apiResponse);
         }
      );