footer.footer-wrapper
   .company-logo
      img(src="/images/assets/fielddev-group-logo.svg" alt="alt")
   p Copyright &copy; 
      script.
         document.write(new Date().getFullYear()) 
      | FieldDev Group Nigeria

   h2 Affordable Farmland Identity for Smallholder Farmers.
