header.header-wrapper

  .slideshow-wrapper
    img(src="./images/mapbox-dark-clusters.jpg" alt="Mapbox Dark Clusters")
    img(src="./images/sugar-cane-in-rio-grande-do-sul.jpg" alt="Rio Grande Sugar Cane Fields")
    img(src="./images/one-soil-2.jpg" alt="One Soild RBF 2")
    img(src="./images/one-soil-4.jpg" alt="One Soil RBF 4")
    img(src="./images/one-soil.jpg" alt="One Soil RBF 1")

  include _navbar.pug

  include _hero.pug

  //- nav.navbar-section.is-fixed-top(role='navigation' aria-label='main navigation')

  //-   .navbar-mobile
  //-     a.navbar-item.logo(href="/")
  //-       img(src="/img/icons/parcelized-agcs.svg" alt="Parcelized AGCs Logo")
  //-       span.brand-name agFarmPlots
  //-     a.navbar-burger(role='button' aria-label='menu' aria-expanded='false')
  //-       ul.user-action
  //-         li(aria-hidden='true')
  //-           a(href="agcfarmlands.herokuapp.com/api/demo") Parcelization Demo
  //-         li(aria-hidden='true')
  //-           a(href="agcfarmlands.herokuapp.com/api/demo") API Guide
  //-         li(aria-hidden='true')
  //-           a(href="agcfarmlands.herokuapp.com/signup") Signup
  //-         li(aria-hidden='true')
  //-           a(href="agcfarmlands.herokuapp.com/login") Login

  //-   .navbar-expanded-menu
  //-     .navbar-start
  //-       a.navbar-item(href='/geojson-editor' data-v-00398c4e='') API Guide
  //-       a.navbar-item.is-active(href='/blog' data-v-00398c4e='') Parcelization Demo
  //-       a.navbar-item(href='/leaflet-geoman' data-v-00398c4e='') Signup
  //-       a.navbar-item(href='/leaflet-geoman-pro' data-v-00398c4e='') Login

  //- .hero-wrapper

    //- h2.hero-topline Auto land parcelization for smallholder farmer cooperatives
    h2.hero-topline Auto land parcelization for smallholder farmer geo-cooperatives
    //- h2.hero-topline Automated land sub-division for smallholder farmers in agro geo-cooperatives

    .hero-content

      p A fast, precise, low-cost tool for groups of smallholder farmers farming collectively to divide up their shared land into smaller, distinct, adjacent farm plots, with sizes matching each farmer's pre-established capacity. 

      p Reports back precise, high-resolution coordinates in seconds & eliminates the need to manually map each farmer's plot with traditional survey equipment.

      .user-action-wrapper
        div.cta-btn Launch
          a(href="https://farmplots.web.app")
        br
        span
          a(href="https://agcfarmlands.herokuapp.com/farm-plots") See Examples ->

      .customers-showcase
        a(href="#")
          .customer-logo.w-embed
            img(src="./images/cbn-logo.jpg" alt="NIRSAL Showcase")
        a(href="#")
          .customer-logo.w-embed
            img(src="./images/cbn-logo.jpg" alt="CBN Showcase")