header.header

  nav.navbar.is-fixed-top(role='navigation' aria-label='main navigation')
  
    .navbar-brand
      a.navbar-item.logo(href="/")
        img(src="/img/icons/parcelized-agcs.svg" alt="Parcelized AGCs Logo")
        span.brand-name Parcelized AGCs API
      a.navbar-burger(role='button' aria-label='menu' aria-expanded='false')
      
    .navbar-menu
    
      .navbar-start
        ul.start
          li logo
          li API Guide
          li Sample Parcelized AGCs

      .navbar-user-action
        ul.user-action
          li Signup
          li Login
          li Search


//- header.header(data-v-00398c4e='')
//-   nav.navbar.is-fixed-top(role='navigation' aria-label='main navigation' data-v-00398c4e='')
//-     .navbar-brand(data-v-00398c4e='')
//-       a.navbar-item.logo(href='/' data-v-00398c4e='')
//-         img(alt='Geoman Logo' src='/img/icons/geoman_logo.svg' data-v-00398c4e='')
//-         span.brand-name(data-v-00398c4e='') Geoman.io
//-       a.navbar-burger(role='button' aria-label='menu' aria-expanded='false' data-v-00398c4e='')
//-         span(aria-hidden='true' data-v-00398c4e='')
//-         span(aria-hidden='true' data-v-00398c4e='')
//-         span(aria-hidden='true' data-v-00398c4e='')
//-     .navbar-menu(data-v-00398c4e='')
//-       .navbar-start(data-v-00398c4e='')
//-         a.navbar-item(href='/geojson-editor' data-v-00398c4e='') Editor
//-         a.navbar-item.is-active(href='/blog' data-v-00398c4e='') Blog
//-         a.navbar-item(href='/leaflet-geoman' data-v-00398c4e='') Leaflet-Geoman
//-         a.navbar-item(href='/leaflet-geoman-pro' data-v-00398c4e='') Leaflet-Geoman Pro