.hero-wrapper

   //- h2.hero-topline Auto land parcelization for smallholder farmer cooperatives
   h2.hero-topline Auto land parcelization for smallholder farmer    geo-cooperatives
   //- h2.hero-topline Automated land sub-division for smallholder farmers in agro geo-cooperatives

   .hero-content
      p A fast, precise, low-cost tool for groups of smallholder farmers to use to divide up their shared land expanse into smaller, adjacent farm plots, sized according to each farmers pre-agreed hectarage. 

      p Immediately reports back precise, high-res coordinates & eliminates the need to manually map each farmer's plot with traditional survey equipment.
      
      p Geospatial analysis to boost smallholder farmer precision agriculture.

      .hero-user-action-wrapper
         a.cta-btn.u__links(href="https://farmplots.web.app" role='button') Launch Demo
         br
         a.u__links(href="https://agcfarmlands.herokuapp.com/agcs-overview") 
            span See Examples →

      //- .customer-showcase
      //-    a(href="#") NIRSAL
      //-       .customer-logo.w-embed
      //-          //- img(src="./images/cbn-logo.svg" alt="NIRSAL Showcase")
      //-    a(href="#") CBN
      //-       .customer-logo.w-embed
      //-          //- img(src="./images/cbn-logo.svg" alt="CBN Showcase")