.hero-wrapper

   //- h2.hero-topline Auto land parcelization for smallholder farmer cooperatives
   h2.hero-topline Auto land parcelization for smallholder farmer    geo-cooperatives
   //- h2.hero-topline Automated land sub-division for smallholder farmers in agro geo-cooperatives

   .hero-content
      p A fast, precise, low-cost tool for a group of smallholder farmers to divide up their shared land into smaller, adjacent farm plots, sized according to each farmers pre-agreed hectarage. 

      p Immediately reports back precise, high-resolution coordinates & eliminates the need to manually map each farmer's plot with traditional survey equipment.

      .hero-user-action-wrapper
         a.cta-btn.u__links(href="https://farmplots.web.app" role='button') Launch
         br
         a.u__links(href="https://agcfarmlands.herokuapp.com/farm-plots") 
            span See Examples →

      .customers-showcase
         a(href="#")
            .customer-logo.w-embed
            img(src="./images/cbn-logo.jpg" alt="NIRSAL Showcase")
         a(href="#")
            .customer-logo.w-embed
            img(src="./images/cbn-logo.jpg" alt="CBN Showcase")