code.language-javascript.

   {
      "geo_cluster_properties": {
         "geo_cluster_name": "warwade",
         "geo_cluster_id": "warwade_dutse_99250"
         "metadata": {
            "validation_failed_reason": "",
         },
      },
      "plot_owners": [
         {
            {
               "plot_owner_bvn": 2218XXXXXXX,
               "plot_owner_base64": ""
            }
         },
         {
            {
               "plot_owner_bvn": 2233XXXXXXX,
               "plot_owner_base64": "",
            }
         },
         {
            {
               "plot_owner_bvn": 2227XXXXXXX,
               "plot_owner_base64": "",
            }
         },
      ]
   }