code.language-javascript.

   {
      "agc_name": "warwade",
      "agc_id": ": "warwade_dutse_99250",
      "processing_metadata": {
         "unprocessed_farmers": [""]
      },
      "farmers": [
         {
            "farmer_id": "warwade_dutse_99250-001",
            "farmer_bvn": 22218XXXXXX,
            "farmer_last_name": "Belema",
            "farmer_first_name": "Moses",
            "farmer_photo_base64": "LzlqLzRBQVFTa1pKUmdBQkFnQUFBUUFCQUFELzJ3QkRBQW.."
         },
         {
            "farmer_id": "warwade_dutse_99250--2",
            "farmer_bvn": 22219XXXXXX,
            "farmer_last_name": "Columbo",
            "farmer_first_name": "Cristph",
            "farmer_photo_base64": "LzlqLzRBQVFTa1pKUmdBQkFnQUFBUUFCQUFELzJ3QkRBQWd.."
         },
         {
            "farmer_id": "warwade_dutse_99250--3",
            "farmer_bvn": 2220XXXXXXX,
            "farmer_last_name": "Adako",
            "farmer_first_name": "Justice",
            "farmer_photo_base64": "LzlqLzRBQVFTa1pKUmdBQkFnQUFBUUFCQUFELzJ3QkRBQWdH.."
         }
      ]
   }