nav.navbar-wrapper.is-fixed-top(role='navigation' aria-label='main navigation')

   //- .navbar-mobile
   .navbar-brand-wrapper
      a.navbar-item.logo(href="/")
         img(src="/img/icons/parcelized-agcs.svg" alt="Parcelized AGCs Logo")
         span.brand-name agFarmPlots

   .navbar-menu-wrapper
      ul.nav-links
         li(aria-hidden='true')
            a(href="agcfarmlands.herokuapp.com/api/demo") Parcelization Demo
         li(aria-hidden='true')
            a(href="agcfarmlands.herokuapp.com/api/demo") API Guide
         li(aria-hidden='true')
            a(href="agcfarmlands.herokuapp.com/signup") Signup
         li(aria-hidden='true')
            a(href="agcfarmlands.herokuapp.com/login") Login

   .burger-wrapper
      input.toggler(type='checkbox' aria-label='menu' aria-expanded='false')
      .burger-lines
         .burger-line1
         .burger-line2