.parcelization-examples-wrapper

	.parcelization-examples-carousel

		.cluster-preview-wrapper
			.cluster-preview-header 
				h2 Ogo Owo is a worthless cunt
			.cluster-preview-map
				a(href="https://geoclusters.herokuapp.com/api/demo/parcelized-agc/?AGCABJ002B2B")
					img(src="/assets/images/agc-1.png" alt="")
			.cluster-preview-info-wrapper
				.cluster-preview-info-header
					div Go fuck yourself, Ogo Owo
				.cluster-preview-info-body
					div Go fuck yourself some more, Ogo Owo

		.cluster-preview-wrapper
			.cluster-preview-map
				a(href="https://geoclusters.herokuapp.com/api/demo/parcelized-agc/?AGCABJ002B2B")
					img(src="/assets/images/agc-2.png" alt="")
			.cluster-preview-info-wrapper
				.cluster-preview-info-header
					div Go fuck yourself, Ogo Owo
				.cluster-preview-info-body
					div Go fuck yourself some more, Ogo Owo

		.cluster-preview-wrapper
			.cluster-preview-map
				a(href="https://geoclusters.herokuapp.com/api/demo/parcelized-agc/?AGCABJ002B2B")
					img(src="/assets/images/agc-3.png" alt="")
			.cluster-preview-info-wrapper
				.cluster-preview-info-header
					div Go fuck yourself, Ogo Owo
				.cluster-preview-info-body
					div Go fuck yourself some more, Ogo Owo

		.cluster-preview-wrapper
			.cluster-preview-map
				a(href="https://geoclusters.herokuapp.com/api/demo/parcelized-agc/?AGCABJ002B2B")
					img(src="/assets/images/agc-4.jpg" alt="")
			.cluster-preview-info-wrapper
				.cluster-preview-info-header
					div Go fuck yourself, Ogo Owo
				.cluster-preview-info-body
					div Go fuck yourself some more, Ogo Owo
		//- div 4
		//- div 5
		//- div 6

	button#previous_image_btn Previous
	button#next_image_btn Next


	//- script(src="/js/carousel.js" type='module')
	script(src="/js/_carousel.js" type='module')
