doctype html
head
   meta(charset='UTF-8')
   meta(name='viewport' content='width=device-width, initial-scale=1.0')
   //- title Parcelized AGC Farmlands | #{title}
   title #{title}
   //- TURF
   script(src='/plugins/turf.min.js')
   //- MAIN STYLESHEET
   link(rel='stylesheet' href='/css/style.css')

   block head-map-scripts

body

   //- POPULATED WITH DATA RETREIVED FOR ALL THE AGCS
   block parcelized-agcs

   //- POPULATED WITH DATA RETREIVED FOR A SINGLE AGC
   block parcelized-agc-content