doctype html
head
   meta(charset='UTF-8')
   meta(name='viewport' content='width=device-width, initial-scale=1.0')

   //- title Parcelized AGC Farmlands | #{title}
   title #{title}

   //- TURF JS
   script(src='/plugins/turf.min.js')

   //- SYNTAX HIGHLIGHTER
   link(href='/plugins/prism/prism-tomorrow-night.css' rel='stylesheet')
   script(src='/plugins/prism/prism.js')

   //- FONTS
   link(href='https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap' rel='stylesheet')
   link(href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet")
   link(href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet")
   link(href="https://fonts.googleapis.com/css2?family=Syne:wght@500&display=swap" rel="stylesheet")
   link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")

   //- FONT AWESOME
   link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous")
   
   //- MAIN STYLESHEET
   //- link(rel='stylesheet' href='/css/style.css')

   script(src='/jquery-min.js' type='module')

   //- MAP SCRIPTS FROM parcelized-agc-render.pug WILL APPEND HERE
   block head-map-scripts

body

   //- //- PAGE HEADER
   //- include _header.pug

   //- LANDING PAGE BLOCK
   block landing-page

   //- POPULATED WITH SUMMARIES OF DATA RETREIVED FOR ALL THE AGCS
   block parcelized-agcs-overview

   //- AUTO PARCELIZATION API GUIDE
   block api-guide

   //- POPULATED WITH DATA RETREIVED FOR A SINGLE AGC, SHOWING PREVIEW MAPS
   block parcelized-agc-preview-map

   //- UNABLE TO FIND PARCELIZED AGC PAGE
   block parcelized-agc-not-found


   //- //- BURGER MENU CLICK HANDLER
   //- script(type="text/javascript").
   //-    const burgerIcon = document.getElementById('menu_toggler')
   //-    const mobileMenu = document.getElementById('nav_links')

   //-    function toggleBurgerIcon(event) {
   //-       if (event.target.checked) {
   //-          console.log('fuck satan');
   //-          burgerIcon.classList.toggle('active')
   //-          mobileMenu.classList.toggle('is-active')
   //-       }
   //-    }

   //-    burgerIcon.addEventListener('change', toggleBurgerIcon)