doctype html
head
   meta(charset='UTF-8')
   meta(name='viewport' content='width=device-width, initial-scale=1.0')

   //- title Parcelized AGC Farmlands | #{title}
   title #{title}

   //- TURF
   script(src='/plugins/turf.min.js')

   //- SYNTAX HIGHLIGHTER
   link(href='/plugins/prism/prism-tomorrow-night.css' rel='stylesheet')
   script(src='/plugins/prism/prism.js')

   //- FONTS
   link(href='https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap' rel='stylesheet')
   link(href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet")
   link(href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet")
   link(href="https://fonts.googleapis.com/css2?family=Syne:wght@500&display=swap" rel="stylesheet")

   //- MAIN STYLESHEET
   link(rel='stylesheet' href='/css/style.css')

   //- MAIN SCRIPT
   //- script(src='/js/main.js' type='module')
   //- script(src='/jquery-min.js' type='module')

   //- MAP SCRIPTS FROM agc-render.pug WILL APPEND HERE
   block head-map-scripts

body

   //- //- PAGE HEADER
   //- include _header.pug

   //- POPULATED WITH DATA RETREIVED FOR ALL THE AGCS
   block parcelized-agcs

   //- POPULATED WITH DATA RETREIVED FOR A SINGLE AGC
   block parcelized-agc-content

   //- BURGER MENU CLICK HANDLER
   script(type="text/javascript").
      const burgerIcon = document.getElementById('menu_toggler')
      const mobileMenu = document.getElementById('nav_links')
      function toggleBurgerIcon(event) {
         if (event.target.checked) {
            console.log('fuck satan');
            burgerIcon.classList.toggle('active')
            mobileMenu.classList.toggle('is-active')
         }
      }
      burgerIcon.addEventListener('change', toggleBurgerIcon)
