doctype html

html
   head
      title AGCs | #{title}
      //- BOTH THE /style.css && /favicon.png ARE BEING SERVED AS STATIC FILES FROM THE "public" dir.
      //- THIS IS POSSIBLE BECAUSE WE USED THE "express.static" MIDDLEWARE IN app.js
      link(rel="stylesheet", href="css/style.css") 
      link(rel="shortcut icon", type='image/png' href="images/favicon.png")
      
   body
      //- READING CODE FROM VARIABLES LIKE SO IS CALLED BUFFERED CODE
      h1= title
      h2= user.toUpperCase()

      p This is one of the parcelized AGCs