footer {
   margin-top: 25vh;
   background: #001613;
   color: white;
   font-weight: 100;
}

.footer-wrapper {
   padding: 35px;
   font-family: 'Overpass' sans-serif;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
}

.company-logo img {
   width: 30%;
}