.mapboxgl-popup-content {
   width: 300px;
   /* height: 50px;
   line-height: 5px; */
   font-size: 12px;
}

.mapboxgl-popup-close-button {
   color: green;

   position: absolute;
   right: 0;
   top: 0;
   border: none;
   border-radius: 0 3px 0 0;
   cursor: pointer;

   display: none;
}

.mapbox-metadata-popup {
	display: grid;
	grid-template-columns: 2fr auto;
}

.popup--plot-owner-name {
	font-size: 14px;
	font-weight: 700;
}

.popup-text-wrapper span {
   padding: 0 10px;
   background: grey;
}

.popup-media-wrapper {
   background: #f5f6fa;
   /* background: pink; */
}

.popup-media-wrapper img {
   height: 100px;
   object-fit: fill;
}

.object-fit-test {
   /* height: 500px; */
   object-fit: fill;
}

.agc-info-overlay {
   margin: 0;
   padding: 12px;
   -webkit-font-smoothing: antialiased;
   top: 0;
   left: 0;
   width: auto;
   height: auto;
   font-family: "Roboto", sans-serif;
   font-size: 14px;
   color: white;
   position: absolute;
   z-index: 2;
   background-color: rgba(31,51,73,.5)!important;
}

.cluster-map-close-btn {
   -webkit-font-smoothing: antialiased;
   text-size-adjust: 100%;
   box-sizing: inherit;
   margin: 0;
   border: 0;
   background: 0 0;
   color: inherit;
   font: inherit;
   height: 25px;
   width: 25px;
   text-align: left;
   appearance: none;
   user-select: none;
   cursor: pointer;
   border-radius: 9999px!important;
   position: absolute!important;
   top: 0!important;
   right: 0!important;
   margin-top: 12px!important;
   margin-right: 12px!important;
   padding-top: 12px!important;
   padding-bottom: 12px!important;
   padding-left: 12px!important;
   padding-right: 12px!important;
   background-color: rgba(31,51,73,.5)!important;
   z-index: 2!important;
}

.leaflet-map-overlay {
   -webkit-font-smoothing: antialiased;
   padding: 6px 25px;

   position: absolute;
   top: 0;
   right: 0;
   height: auto;
   width: auto;
   min-width: 260px;

   text-size-adjust: 100%;
   box-sizing: inherit;
   color: white;
   background-color: var(--map-overlay-deep-blue) ;
   font-family: "Roboto", sans-serif;
   text-align: center;

   user-select: none;
   z-index: 999;
}

.leaflet-map-overlay-extended {
   display: none;
   text-align: left;
}

.plot-metadata-label {
   min-width: max-content;
   height: auto !important;

   font-size: 9px;
   color: black;
   background-color: white;
   border: 2px solid black;

   display: grid !important;
   grid-template-columns: 1fr 1.5fr;

   border-radius: 3px;
   box-shadow: 0px 0px 0px 1px rgba(255,255,255,1);
   -webkit-box-shadow: 0px 0px 0px 1px rgba(255,255,255,1);
   -moz-box-shadow: 0px 0px 0px 1px rgba(255,255,255,1);

}

.plot-metadata-label--chunk-size {
   margin: auto 0;
   padding: 0 4px;
   height: 100%;
   background-color: black;
   color: white;
   border-right: 2px solid black;

   /* CENTER THE TEXT IN THE GRID ITEM */
   display: grid;
   grid-template-rows: 1fr 1fr;
}

.plot-metadata-label--chunk-size span {
   display: flex;
   align-items: center;
}

.metadata-label--owner-info {
   padding: 4px;
   display: grid;
   grid-template-rows: repeat(2, 1fr);
   font-weight: bold;
}

.metadata-label--turn-by-turn {
   display: none;
}

.plot-polygon-vertex-coords-label {
   padding: 2px;
   padding-left: 0;
	width: 100px !important; /* OVERIDE .leaflet-marker-icon STYLING */
	height: 15px !important; /* OVERIDE .leaflet-marker-icon STYLING */
   font-size: 7px;
   font-weight: bold;
	color: black;
	background-color: white;
   border: 1px solid black;
   
   /* border-radius: 2px;
   box-shadow: 0px 0px 0px 1px rgba(255,255,255,1);
   -webkit-box-shadow: 0px 0px 0px 1px rgba(255,255,255,1);
   -moz-box-shadow: 0px 0px 0px 1px rgba(255,255,255,1); */
}

.plot-polygon-vertex-coords-label span {
   padding: 2px;
   color: white;
   background-color: black;
   border: 1px solid black;
}

.plot-polygon-vertex-dist-label,
.plot-polygon-vertex-dist-bearing-label {
   padding: 2px;
	width: 35px !important; /* OVERIDE .leaflet-marker-icon STYLING */
	height: 15px !important; /* OVERIDE .leaflet-marker-icon STYLING */
   font-size: 8px;
   font-weight: bold;
	color: black;
	background-color: #00b894;
	background-color: #00cec9;
	border: 1px solid black;
}

.plot-polygon-vertex-dist-bearing-label {
   display: none !important;
}

/* ----------- Non-Retina Screens ----------- */
@media screen and (min-device-width: 700px) and (max-device-width: 1600px) {
   /* and (-webkit-min-device-pixel-ratio: 1) {  */

      .plot-metadata-label {      
         display: grid !important;
         grid-template-columns: 1fr 1.5fr 0.65fr;
      }

      .metadata-label--turn-by-turn {
         display: flex;
         align-items: center;
         justify-content: center;
         background-color: lightgrey;
         color: #808080;
         font-size: 15px;
      }
      
      .metadata-label--turn-by-turn:hover {
         background-color: pink;
         color: blue;
      }
      
      .metadata-label--turn-by-turn > a:active {
         background-color: lightgrey;
         color: grey;
         /* filer 3500 gas 3200 comp 55k, exp v. 6000 oil 4000 */
      }
      
      .leaflet-map-overlay-extended {
         margin: 0;
         padding: 6px 15px;

         position: absolute;
         top: 30px;
         right: 0px;
         height: auto;
         width: inherit;
         background-color: white;
         color: var(--map-overlay-deep-blue);
         font-family: "Roboto", sans-serif;

         display: none;
         z-index: 1000;      

         animation-name: slide-down;
         animation: slide-down 0.1s ease;
         -webkit-animation: slide-down 0.1s ease;
      }

      @keyframes slide-down {
         0% {
            height: 0px;
         }
         100% {
            height: 100%;
         }
      }
      
      .plot-polygon-vertex-coords-label {
         display: block !important;
      }

      .plot-polygon-vertex-dist-label {
         display: none !important;
      }
      
      .plot-polygon-vertex-dist-bearing-label {
         width: 90px !important; /* OVERIDE .leaflet-marker-icon STYLING */
         display: block !important;
      }
   }
   