.mapboxgl-popup-content {
   width: 300px;
   /* height: 50px;
   line-height: 5px; */
   font-size: 12px;
}

.mapboxgl-popup-close-button {
   color: green;

   position: absolute;
   right: 0;
   top: 0;
   border: none;
   border-radius: 0 3px 0 0;
   cursor: pointer;

   display: none;
}

.mapbox-metadata-popup {
	display: grid;
	grid-template-columns: 2fr auto;
}

.popup-farmer-name {
	font-size: 14px;
	font-weight: 500;
}

.popup-text-wrapper span {
   padding: 0 10px;
   background: grey;
}

.popup-media-wrapper {
   background: #f5f6fa;
   /* background: pink; */
}

.popup-media-wrapper img {
   height: 100px;
   object-fit: fill;
}

.object-fit-test {
   /* height: 500px; */
   object-fit: fill;
}

.agc-info-overlay {
   margin: 0;
   padding: 12px;
   -webkit-font-smoothing: antialiased;
   top: 0;
   left: 0;
   width: auto;
   height: auto;
   font-family: "Roboto", sans-serif;
   font-size: 14px;
   color: white;
   position: absolute;
   z-index: 2;
   background-color: rgba(31,51,73,.5)!important;
}

.cluster-map-close-btn {
   -webkit-font-smoothing: antialiased;
   text-size-adjust: 100%;
   box-sizing: inherit;
   margin: 0;
   border: 0;
   background: 0 0;
   color: inherit;
   font: inherit;
   height: 25px;
   width: 25px;
   text-align: left;
   appearance: none;
   user-select: none;
   cursor: pointer;
   border-radius: 9999px!important;
   position: absolute!important;
   top: 0!important;
   right: 0!important;
   margin-top: 12px!important;
   margin-right: 12px!important;
   padding-top: 12px!important;
   padding-bottom: 12px!important;
   padding-left: 12px!important;
   padding-right: 12px!important;
   background-color: rgba(31,51,73,.5)!important;
   z-index: 2!important;
}

.leaflet-map-overlay {
   -webkit-font-smoothing: antialiased;
   padding: 6px 25px;
   position: absolute!important;
   top: 0!important;
   right: 0!important;
   height: auto;
   width: auto;
   text-size-adjust: 100%;
   box-sizing: inherit;
   background: 0 0;
   color: white;
   background-color: rgba(31,51,73,.8)!important;
   text-align: center;
   appearance: none; 
   user-select: none;
   z-index: 999!important;
}

.plot-metadata-label {
   width: 150px !important;
   height: auto !important;

   font-size: 9px;
   color: black;
   background-color: white;
   border: 2px solid black;

   display: grid !important;
   grid-template-columns: 1fr 2fr;
}

.plot-metadata-label > div:first-of-type {
   margin: auto 0;
   padding: 0 4px;
   height: 100%;
   background-color: black;
   color: white;
   border-right: 2px solid black;

   /* CENTER THE TEXT IN THE GRID ITEM */
   display: flex;
   align-items: center;
}

.plot-metadata-label > div:last-of-type {
   padding: 4px;
   display: grid;
   grid-template-rows: repeat(2, 1fr);
   font-weight: bold;
}

.plot-polygon-vertex-coords-label {
   padding: 2px;
   padding-left: 0;
	width: 95px !important; /* OVERIDE .leaflet-marker-icon STYLING */
	height: 15px !important; /* OVERIDE .leaflet-marker-icon STYLING */
   font-size: 7px;
   font-weight: bold;
	color: black;
	background-color: white;
	border: 1px solid black;
	display: none !important;
}

.plot-polygon-vertex-coords-label span{
   padding: 2px;
   color: white;
   background-color: black;
   border: 1px solid black;
}

.plot-polygon-vertex-dist-label,
.plot-polygon-vertex-dist-bearing-label {
   padding: 2px;
	width: 35px !important; /* OVERIDE .leaflet-marker-icon STYLING */
	height: 15px !important; /* OVERIDE .leaflet-marker-icon STYLING */
   font-size: 8px;
   font-weight: bold;
	color: black;
	background-color: #00b894;
	background-color: #00cec9;
	border: 1px solid black;
}

.plot-polygon-vertex-dist-bearing-label {
   display: none !important;
}

/* ----------- Non-Retina Screens ----------- */
@media screen and (min-device-width: 700px) and (max-device-width: 1600px) {
   /* and (-webkit-min-device-pixel-ratio: 1) {  */
      
      .plot-polygon-vertex-coords-label {
         display: block !important;
      }

      .plot-polygon-vertex-dist-bearing-label {
         width: 80px !important; /* OVERIDE .leaflet-marker-icon STYLING */
         display: block !important;
      }
   }
   