@import url("./_map-overlays.css");
@import url('./_header-slideshow.css');
@import url('./_footer.css');

@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&family=Scada:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fauna+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');


@font-face {
	font-family: "Duolingo";
	font-style: normal;
	src: url('fonts/DulingoNextRoundedLTPro-Regular.woff2') format('woff2');
}


* {
	/* margin: 0;
	padding: 0; */
	box-sizing: border-box;
	text-size-adjust: 100%;
}

:root {
  --button-primary-background: #1A73E8;
  --grey-background: #F4F4F4;

}

html {
	-webkit-font-smoothing: antialiased;
}

body {
	margin: auto;
	font-size: 13px;
	font-weight: 400;
	line-height: 1;
	background: rgba(128, 134, 139, 0.2);
	background: #f9f9f9;
	background: #F4F4F4;
	color: #4a4a4a;
	color: black;
}

/* LIGATURE ICONS VIA ICON FONTS */
[data-icon]::before {
	content: attr(data-icon);
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	/* font-size: 1em;
	display: inline-block;
	vertical-align: middle;
	width: 1em;
	height: 1em;
	line-height: 1; */
	padding-right: 5px;
	font-size: 15px;
	line-height: 1;

	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
 
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
}

h3 {
	padding: 5px 35px;
}

p {
	padding: 15px 35px 0 35px;
	font-size: 15px;
	line-height: 1.4;
}

p.standalone {
	margin: 0;
	padding: 15px 15px 0 15px;
}

p.bold {
	font-weight: bold;
}

p.note {
	padding-bottom: 15px;
	font-weight: bold;
	color: #01579B;
	background-color: rgb(234, 241, 251);
}

.agcs-overview-container p:last-child {
	padding-bottom: 15px;
}

p.last-update {
	color: grey;
	font-weight: 200;
}

p.important-note {
	font-weight: bold;
	color: #bf360c;
	background: #feefe3;
}

a.u__links {
	color: white;
	font-size: 17px;
	font-weight: light;
	text-decoration: none;
}

header {
	background-color: #2e2e2e;
	background-color: rgba(46, 46, 46, 0.80);
	/* background: #121621; */
	color: white;
	position: relative;
}

.header-wrapper {
	font-family: 'Roboto', sans-serif;
}

/* STATIC HEADER/HERO BACKGROUND IMAGE USING CSS ONLY */
/* header:before {
	content: '';
	background: url('../images/one-soil.jpg') no-repeat center center/cover;
	background: url('../images/maxar-tech.jpg') no-repeat center center/cover;
	background: url('../images/one-soil-4.jpg') no-repeat center center/cover;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
} */

.navbar-wrapper {
	padding: 20px;
	position: sticky;
	top: 0;
	width: 100%;
	background: #2e2e2e;
	background: transparent;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.branding {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.branding span {
	font-family: 'Syne', sans-serif;	
	font-size: 20px;
	letter-spacing: -1px;
	/* font-weight: 900 */
}

.branding img {
	width: 30px;
	/* TURN THE SVG LOGO WHITE */
	filter: invert(98%) sepia(0%) saturate(7500%) hue-rotate(259deg) brightness(104%) contrast(101%);
	color: green;
	margin-right: 10px;
}

.branding img:hover {
	fill: orange;
}

.nav-links {
	margin: 0;
	padding: 20px;
	top: 10vh;
	width: 100%;
	right: 0px;
	height: auto;
	background-color: white;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: left;
	position: absolute;
	
	visibility: hidden;
	/* transform: translateY(150%); */
	transition: transform 0.5s ease-in;
}

.nav-links.is-active {
	visibility: visible;
}

.is-active { 
	transform: translateY(0%);
}

.nav-links a {
	color: #2e2e2e;
}

.nav-links li {
	list-style: none;
	padding: 10px 0;
}

.burger-wrapper {
	cursor: pointer;
	height: 40px;
	width: 40px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}

.toggler {
	position: absolute;
	top: 0;
	width: 40px;
	height: 40px;
	cursor: pointer;
	z-index: 2;
	opacity: 0;
}

.burger-lines {
	transition: all 0.4s ease;
}

.burger-lines div {
	width: 35px;
	height: 1px;
	background-color: white;
	color: white;
	margin: 5px;
}

/* ANIMATE LINES VIA TOGGLER/CHECKBOX ACTION */
.toggler:checked + .burger-lines {
	transform: rotate(135deg);
}

/* ROTATE ON HOVER WHEN CHECKED */
.toggler:checked:hover + .burger-lines {
	transform: rotate(225deg);
}

/* TURN LINES INTO AN 'X' */
/* .toggler:checked + .burger-lines.burger-line1, */
.toggler:checked + .burger-lines.burger-line1 {
	top: 0;
	transform: rotate(-45deg) translate(-12px, 12px)
}

.toggler:checked + .burger-lines.burger-line2 {
	transform: rotate(45deg) translate(-12px, 12px)
}

.hero-wrapper {
	margin-bottom: 0;
	padding: 0 35px;
}

h2.hero-topline {
   font-family: 'Fjalla One', sans-serif;
	font-size: 48px;
	line-height: 46px;
   font-weight: 400;
   text-align: left;
}

.hero-content p {
	padding: 0;
	color: #ffffffb3;
	color: rgba(255, 255, 255, 0.8);
	font-family: 'Fira Sans Regular', sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 300;
	letter-spacing: 0.2px;
}

.hero-user-action-wrapper {
	margin: 30px 0;
	margin-bottom: 0;
	padding-bottom: 40px;
	display: flex;
	justify-content: flex-start;
	margin-right: auto;
	margin-left: auto;
	flex-direction: row;
	align-items: center;
}

.cta-btn {
	display: block;
	margin-right: 30px;
	padding: 16px 36px;
	color: white;
	font-size: 18px;
	font-weight: 500;
	line-height: 18px;
	text-align: center;
	text-decoration: none;
	background-color: transparent;
	background-color: var(--button-primary-background);
	/* border: 1px solid white; */
	/* border-color: hsla(0,0%,100%,.4); */
	border-radius: 100px;
	transition: border-color 0.3s ease, box-shadow 0.3s ease;
	cursor: pointer;
}

.cta-btn:hover {
	background-color: rgba(255, 255, 255, 0.1);
	color: white;
}

.hero-user-action-wrapper a.u__links {
	display: flex;
	justify-content: space-between;
	vertical-align: center;
}

.hero-user-action-wrapper a.u__links > i {
	padding-left: 10px
}

.hero-user-action-wrapper a.u__links:hover > i {
	padding-left: 15px;
}

.customer-showcase {
	padding: 0 100px 20px;
	display: flex;
	justify-content: space-around;
}

.customer-showcase a {
	color: #444b5e;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 40px;
	line-height: 40px;
	text-decoration: none;
	letter-spacing: -1px;
}

.customer-showcase img {
	width: 50px;
}

main {
	margin-bottom: 300px;
	background: white;
	z-index: 10;
	position: relative;

}

.landing-page-main-wrapper {
	margin-bottom: 0;
	background: url('../images/assets/noun-contour-topography-top-left.svg') no-repeat center center/cover;
	background: url('../assets/images/noun-contour-topography.svg') no-repeat center center/cover;
	background-color: var(--grey-background);		

	/* ADJUST THE SVG CRAWL TO NOT OBSCURE THE MIDDLE TEXT */
	background-size: 760px;
}

.landing-page-content-wrapper {
	padding-top: 20px;
}

.svg-page-crawl img {
	z-index: 99;
}

.bordered-paragraph-wrapper {
	margin: 20px;
	padding: 0;
	border: 1px solid #4a4a4a;
	border-radius: 10px;
	font-family: 'Roboto', sans-serif;
	background: #F4F4F4;
}

.bordered-paragraph-wrapper P:last-child {
	padding-bottom: 15px;
}

.bordered-paragraph-header {
	padding: 15px;
	padding-bottom: 0;
	display: grid;
	place-items: center;
	grid-template-columns: 1fr 1fr;
}

.bordered-paragraph-header-text {
	display: grid;
	grid-template-rows: 1fr 3fr 1fr;
	align-items: center;
}

.bordered-paragraph-header-text:first-child {
	font-family: 'Scada', sans-serif;	
	font-family: 'Jura', sans-serif;	
}

.bordered-paragraph-header h3 {
	margin: 0;
	padding: 0;
	font-family: 'Fjalla One', sans-serif;
	font-size: 27px;
	font-weight: 900;
	line-height: 30px;
	text-transform: capitalize;
}

.bordered-paragraph-header img {
	width: 100%;
}

.standalone-headline {
	margin: 30px 0;
	display: grid;
	place-items: center;
}

.standalone-headline h2 {
	margin: 15px 10px;
	font-size: 25px;
	font-family: 'Oswald', sans-serif;
	text-align: center;
	color: grey;
}

.standalone-headline:first-of-type h2 {
	margin: 0;
	color: pink;
}

.standalone-headline.among-us h2 {
	margin: 5px;
	/* color: #836C3A; */
	/* color: pink; */
}

.standalone-headline h2 > span {
	padding: 0 6px;
	border: 1px solid grey; 
}

.standalone-headline div {
	border-radius: 100%;
	border: 1px solid black;
	width: 60px;
	height: 60px;
	display: grid;
	place-items: center;
}

.standalone-headline:last-of-type {
	margin-bottom: 0;
}

.standalone-headline:last-of-type h2 {
	font-size: 36px;
	color: black;
}

.api-guide-container {
	font-family: Roboto, sans-serif;
	background: white;
	overflow-x: hidden;
}

.api-guide-container h2 {
	padding: 5px 35px;
}

.agcs-overview-container {
	font-family: Roboto, sans-serif;
}

.agcs-overview-container p {
	margin: 0 15px;
}

.embedded-code-snippet {
	/* overflow-x: hidden; */
}

.agc-json-data-ex {
	font-size: 10px !important;
	/* height: 400px; */
	overflow-y: auto;
}

.credentials-container {
	padding: 35px;
	background: white;
	background: #e1f5fe;
	font-weight: 700;
}

.token-subtitle {
	font-size: 15px;
	color: #01579b;
}

.token-code {
	font-size: medium;
	color: #3e94b6;
	color: #4285f4;
}

h2.subtitle {
	/* margin-top: 0; */
	margin-bottom: 0;
	padding: 15px 0 15px 15px;
	font-size: large;
}

.agc-card {
	margin: 15px;
	padding: 15px;
	padding-bottom: 5px;
	background: #fff;
	border: 1px solid rgba(211, 211, 211, 0.768);
	border: 1px solid #efe9dd;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
}

.agc-card-header {
	padding-right: 3px;
	color: #4285f4;
	font-size: medium;
	font-weight: 700;
	display: flex;
	justify-content: space-between;
}

.agc-card-summary {
	padding: 8px;
	border-bottom: none;
	display: grid;
	grid-template-columns: 1fr repeat(3, 0.6fr);
	/* grid-template-columns: 1fr auto 1fr 1fr; */
	background: #f5f6fa;
	border-radius: 3px;
}

.agc-id,
.agc-area,
.total-allocation,
.unused-land {
	font-weight: 700;
}

.agc-card-features-header {
	font-weight: 700;
}

.agc-features-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.agc-feature {
	padding: 8px 5px;
	padding-left: 8px;
	margin-bottom: 10px;
	background: #efe9dd;
	display: grid;
	grid-template-columns: 1fr;
	place-items: center;
}

.feature-text-container {
	padding-right: 30px;
}

.feature-owner-avatar-container {
	display: none;
}

.plot-owner-name {
	font-size: 14px;
	font-weight: 700;
}

.plot-metadata-wrapper div {
	padding: 2px 0;
	/* font-family: 'Roboto Slab', sans-serif;
	font-family: 'Fauna One', sans-serif; */
	font-weight: 300;
	font-size: 11.5px;
	color: #404040;
}

.app-container {
	font-family: Roboto, sans-serif;
	display: grid;
	grid-template-rows: auto 1fr;
	grid-gap: 3px;
}

#map {
	height: 60vh;
	/* REMOVE > THIS IS CAUSING THE MAPBOX LAYERS TO BE OFFSET */
	/* display: grid;
	grid-template-columns: 2fr 4fr;
	grid-template-rows: 6fr 0.3fr;
	grid-template-areas: 
					". ."
					"oranges grapes"; */
}

.section-2-container {
	display: grid;

	/* background: white; */
}

.summaries {
	padding: 10px 0;
	border-bottom: none;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	background: white;
}

.num-farmers,
.allocated-hectares,
.shapefile-area,
.unused-land-area {
	padding: 0 10px;
	display: grid;
	grid-template-rows: 0.2fr 1fr;
	border-right: 1px solid #eee;
}

.num-farmers {
	text-align: center;
}

.aggr-data {
	font-size: 22px;
}

.user-feedback-container {
	margin: 0 10px;
	margin-bottom: 10px;
}

.chunks-coords-listing-container {
	margin: 0;
	margin-top: 10px;
	padding: 10px;
	background: #f5f6fa;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	display: none;

	max-height: 170px;
	overflow-y: scroll;
}

.coords-listing-container-header {
	font-weight: 900;
	font-size: 14px;
}

.chunk-coords-header {
	font-weight: 700;
	font-size: 13px;
}

.chunk-coords-body {
	font-family: monospace;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 90vw;
}

.chunk-coords-body:before {
	content: attr(data-longstring);
}

.chunk-coords-body:hover::before {
	content: attr(data-longstring);
	width: auto;
	height: auto;
	overflow: initial;
	text-overflow: initial;
	white-space: initial;
	/* background-color: white; */
	display: inline-block;
}

.chunk:hover {
	/* font-weight: 700; */
	cursor: pointer;
}

select,
button {
	width: 100%;
	height: 35px;
	outline: none;
	border: none;
	font-size: 16px;
}

select {
	padding-left: 10px;
	background-color: #f5f6fd;
	background-color: rgb(239, 233, 225);
	font-size: 14px;
	box-shadow: none !important;
	outline: none;
}

select.moving-frames-dir-options-dd
/* select.shapefile-select-dd */ {
	width: 200px;
}

select:focus {
	outline: 1px solid rgb(65, 188, 235);
}

option {
	padding: 20px 20px;
}

button {
	font-size: 16px;
	width: 45%;
	border: none;
	background-color: #009432;
	background-color: #574b90;
	background-color: #0abde3;
	background-color: rgb(159, 221, 125);
	background-color: rgb(117, 207, 240);
	background-color: rgb(107, 203, 239);
	background-color: rgb(65, 188, 235);
	color: white;
}

button:active {
	background-color: white;
	color: black;
}

button:disabled {
	background-color: #cccccc;
	color: white;
}

.form-control-group {
	padding: 0 0 15px;
	display: flex;
	justify-content: space-between;
	/* display: none; */
	/* width: 100%; */
	/* display: grid;
	grid-template-columns: auto auto auto; */
}

.form-input-group {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 8px;
}

input {
	height: 25px;
	width: 95%;
	border: 1px solid grey;
	text-align: center;
	font-weight: 900;
	border-radius: 2px;
	outline: thick;
}

input:focus {
	outline: 2px solid rgb(65, 188, 235);
}

.farm-detail-map {
	padding: 0;
	height: 40vh;
	overflow: hidden;
}

/* ----------- Non-Retina Screens ----------- */
@media screen and (min-device-width: 700px) and (max-device-width: 1600px) {
	/* and (-webkit-min-device-pixel-ratio: 1) {  */

	::-webkit-scrollbar {
		width: 12px;
		border-left: 0;
		background: rgba(0, 0, 0, 0.1);
	}

	::-webkit-scrollbar-track {
		background: none;
	}

	::-webkit-scrollbar-thumb {
		background: #2d2d2d;
		height: auto;
		border-radius: 0;
	}

	body {
		font-size: 12px;
		overflow: auto;
	}

	.navbar-wrapper {
		margin-bottom: 25px;
	}

	/* HIDE THE LINK ARROW IN DESKTOP MODE */
	.navbar-menu-wrapper i {
		/* display: none;
		visibility: hidden; */
	}

	.nav-links {
		padding: 0;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		background-color: transparent;
		width: 50vw;
		top: 0;
		right: 0;
		position: relative;

		font-family: 'Overpass', sans-serif;

		visibility: visible;
	}

	.nav-links a {
		color: white;
		font-weight: light;
	}	

	.nav-links a:hover {
		border-bottom: 4px solid white;
	}

	.burger-wrapper {
		display: none;
	}

	.hero-wrapper {
		width: 80vw;
		display: flex;
		align-items: flex-start;
	}

	h2.hero-topline {
		margin-top: 0;
		margin-right: 30px;
		line-height: 60px;
	}	

	.hero-content p {
		margin: 40px 0;
		color: #ffffffb3;
	}

	.hero-content p:first-child {
		margin-top: 0;
	}

	.hero-user-action-wrapper {
		margin-top: 45px;
	}

	.standalone-headline h2 {
		margin: 15px 0;
		font-size: 36px;
	}

	.api-guide-container {
		margin: auto;
		width: 60vw;
	}

	.agcs-overview-container {
		margin: auto;
		width: 45vw;
	}

	.landing-page-main-wrapper {
		margin-bottom: 0;

		background-size: 780	px;	
		background-position: -380px 0;
	}

	.landing-page-content-wrapper {
		margin: auto;
		width: 50vw;
	}

	.bordered-paragraph-wrapper {
		padding: 20px;
	}

	.parcelization-preview-wrapper {
		margin: auto;
		width: 90vw;
	}

	.parcelization-preview-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
		grid-gap: 0.5rem;
	}

	.cluster-preview-wrapper {
		background: pink;
	}

	.cluster-preview-wrapper img {
		height: 100%;
		width: 100%;
		object-fit: contain;
	}

	.agc-feature {
		display: grid;
		grid-template-columns: 4fr 1fr;
	}

	.feature-owner-avatar-container {
		display: block;
		opacity: 0.8;
		
		width: 60px;
		height: 60px;
		position: relative;
		overflow: hidden;
		border-radius: 50%;
	}
	
	.feature-owner-avatar-container img {
		height: 100%;
		width: 100%;
		object-fit: cover;

		display: inline;
	}

	.app-container {
		grid-template-rows: 1fr;
		grid-template-columns: 0.8fr 1fr;
	}

	#map {
		height: 100vh;
	}

	.section-2-container {
		grid-gap: 3px;
		/* grid-template-rows: .2fr .5fr 1fr; */
		grid-template-rows: 0.1fr auto 1fr;
	}

	button {
		font-size: 12px;
	}

	.num-farmers,
	.allocated-hectares,
	.shapefile-area,
	.unused-land-area {
		padding: 0 20px;
	}

	.aggr-data {
		font-size: 27px;
	}

	.user-feedback-container {
		margin-bottom: 10px;
		display: grid;
		grid-template-columns: 0fr 1fr;
		height: auto;
	}

	.chunks-coords-listing-container {
		margin-top: 0;
		display: block;
	}

	.chunk-coords-body {
		width: 50vw;
	}

	.farm-detail-map {
		height: auto;
	}

	.chunk-polygon-label {
		font-size: 10px;
		color: black;
		background: white;
		border: 2px solid black;
	}
}

/* ----------- Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
	body {
		margin: 8px;
	}
}
